
  .link{
      font-size: x-large;
      font-weight: bolder;
      text-decoration: none;
      color: rgb(122, 9, 9);
  }
  .link:hover{
    color: rgb(161, 94, 94);
  }
 #hoverone:hover{
    color: rgb(161, 94, 94);
    background-color: rgb(63, 59, 59);
   
  }

  footer ul li{
    list-style-type:none
   
  }

  


  